// /* 避免浏览器默认样式不同的重置样式，使浏览器默认样式统一 */

// *,
// *::after,
// *::before {
//   box-sizing: border-box;
//   outline: none;
// }

// html,
// body {
//   overflow: hidden;
// }

// html,
// body,
// div,
// span,
// applet,
// object,
// iframe,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// blockquote,
// pre,
// a,
// abbr,
// acronym,
// address,
// big,
// cite,
// code,
// del,
// dfn,
// em,
// img,
// ins,
// kbd,
// q,
// s,
// samp,
// small,
// strike,
// strong,
// sub,
// sup,
// tt,
// var,
// b,
// u,
// i,
// center,
// dl,
// dt,
// dd,
// ol,
// ul,
// li,
// fieldset,
// form,
// label,
// legend,
// table,
// caption,
// tbody,
// tfoot,
// thead,
// tr,
// th,
// td,
// article,
// aside,
// details,
// embed,
// figure,
// figcaption,
// footer,
// header,
// hgroup,
// menu,
// nav,
// output,
// ruby,
// section,
// summary,
// time,
// mark,
// audio,
// video {
//   padding: 0;
//   margin: 0;

//   // overflow: hidden;
//   font: inherit;
//   font-size: 100%;
//   vertical-align: baseline;
//   border: 0;
// }

// img,
// video,
// svg {
//   max-width: 100%;
//   height: auto;
// }

// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section {
//   display: block;
// }

// body {
//   line-height: 1;
// }

// ol,
// ul {
//   list-style: none;
// }

// blockquote,
// q {
//   quotes: none;

//   &::before,
//   &::after {
//     content: '';
//     content: none;
//   }
// }

// sub,
// sup {
//   position: relative;
//   font-size: 75%;
//   line-height: 0;
//   vertical-align: baseline;
// }

// sup {
//   top: -0.5em;
// }

// sub {
//   bottom: -0.25em;
// }

// table {
//   border-spacing: 0;
//   border-collapse: collapse;
// }

// input,
// textarea,
// button {
//   font-family: inhert;
//   font-size: inherit;
//   color: inherit;
// }

// select {
//   text-overflow: '';
//   text-indent: 0.01px;
//   appearance: none;
//   border: 0;
//   border-radius: 0;
// }

// select::-ms-expand {
//   display: none;
// }

// code,
// pre {
//   font-family: monospace;
//   font-size: 1em;
// }

/* 重置样式 */
// 用于统一不同浏览器默认样式
// 它会清除或标准化各种 HTML 元素（如段落、列表、按钮等）在不同浏览器中的默认边距、内边距、字体大小、边框等样式，避免因浏览器自带样式差异导致页面显示不一致的问题，为项目提供统一的基础样式起点。
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  tab-size: 4;
  text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
  line-height: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-collapse: collapse;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

button,
[role='button'] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.dark {
  color-scheme: dark;
}

label {
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

div:focus {
  outline: none;
}

.clearfix {
  &::after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    content: ' ';
  }
}
